.modalWrapper {
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.3);

	.modalContent {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 450px;
		min-width: 320px;
		flex-grow: 1;
		background: white;
		padding: 30px;
		border-radius: 7px;

		form {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.formActions {
				display: flex;
				gap: 10px;
				height: 46px;

				button:first-child {
					background: gray;
				}
			}

			.error {
				border-color: red;
			}
		}
	}
}
