form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.formActions {
		display: flex;
		gap: 10px;
		height: 46px;

		button:first-child {
			background: gray;
		}
	}

	.error {
		border-color: red;
	}
}
