.main__page {
	display: flex;
	flex-direction: column;
	gap: 15px;

	.header {
		display: flex;
		align-items: center;
		height: 46px;
		gap: 10px;

		input {
			flex-shrink: 1;
		}

		button {
			flex-shrink: 3;
		}
	}
}
